*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color: #f5f7fa;
    font-family: "Arial, sans-serif";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select:none;
}

.student-card{
    background-color: white;
    width: 280px;
    height: 350px;
    border:2px solid #4a90e2;
    border-radius: 15px;
    text-align : center;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.header{
    background-color: #4a90e2;
    color: white;
    padding: 15px;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 1px;
}

.photo img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: 25px;
    margin-bottom: 10px;
    border: 3px solid #4a90e2;
}

.info h2{
    font-size: 20px;
    margin-bottom: 8px;
    color: #333;  
}

.info p{
    font-size: 16px;
    color: #444444;
    margin: 4px 0;
}