.fixed-size{
    height: 200px;
    width: 300px;
    background-color: lightblue;
    color: white;
}

.responsive-size{
    height: 50vh; /* 50% of the viewport height */
    width: 50vw;  /* 50% of the viewport width */
    background-color: lightcoral;
    color: white;
}

.box-sizing{
    width: 200px;
    padding: 20px;
    border: 10px solid black;
    box-sizing: border-box;
}