img{
    opacity: 0.5;
}
img:hover{
    opacity: 1.0;
}
div{
    opacity: 0.3;
}
div{
    background: rgba(76, 175, 80, 0.3);
    color: darkred;
}
div.background{
    background: url(img/img3.jpg) repeat;
    border: 2px solid black;
}

div.transbox{
    margin: 30px;
    border:#ffffff;
    border: 1px solid black;
    opacity: 0.6;
}
div.transbox p{
    margin: 5%;
    font-weight: bold;
    color: #000000;
}