p{
    border-style: solid;
    border-width: 5px;
    border-color: blue;
}

h1{
    border-style: dotted;
    border-width: 3px;
    border-color: red;
}

h2{
    border-style: double;
    border-width: 4px;
    border-color: green;
}

h3{
    border-style: dotted;
    border-width: thick;
    border-color: purple;
}

h4{
    border: 2px solid orangered;
    border-radius: 5px;
}

