h1{
    background-color: blueviolet;
    color: white;
    border: 2px solid black;
}

p{
    background-color: darkgoldenrod;
    color: white;
    border: 2px solid black;
}

h2{
    border: 2px solid black;
}